* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
}
.container {
  background-color: hsl(216, 50%, 16%);
  width: 400px;
  height: 700px;
  margin: 100px auto;
  border-radius: 10px;
}
.image img {
  width: 300px;
  height: 400px;
  margin: 50px 10px 0 50px;
  border-radius: 10px;
  cursor: pointer;
}
.text h2 {
  color: whitesmoke;
  margin-left: 50px;
}
.text p {
  color: hsl(210, 39%, 44%);
  font-size: 20px;
  font-weight: 400;
  margin: 10px 25px 0 50px;
}
.time {
  display: flex;
  justify-content: space-around;
  color: hsl(210, 39%, 44%);
  margin-top: 15px;
}
.time span {
  color: rgba(31, 237, 237, 0.935);
}

.footer {
  display: flex;
  margin-top: 50px;
  place-content: center;
}
.footer img {
  width: 50px;
}
.footer h5 {
  font-size: 18px;
  margin: 10px 0 0 10px;
  color: hsl(0, 0%, 100%);
}
.footer h5 span {
  color: hsl(210, 39%, 44%);
}
